apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "siteconfig.open-cluster-management.io/v1alpha1",
          "kind": "ClusterInstance",
          "metadata": {
            "name": "site-sno-du-1",
            "namespace": "site-sno-du-1"
          },
          "spec": {
            "additionalNTPSources": [
              "NTP.server1",
              "198.51.100.100"
            ],
            "baseDomain": "example.com",
            "caBundleRef": {
              "name": "my-bundle-ref"
            },
            "clusterName": "site-sno-du-1",
            "clusterNetwork": [
              {
                "cidr": "203.0.113.0/24",
                "hostPrefix": 23
              }
            ],
            "clusterType": "SNO",
            "diskEncryption": {
              "tang": [
                {
                  "thumbprint": "1234567890",
                  "url": "http://192.0.2.5:7500"
                }
              ],
              "type": "nbde"
            },
            "extraLabels": {
              "ManagedCluster": {
                "common": "true",
                "group-du-sno": "test",
                "sites": "site-sno-du-1"
              }
            },
            "extraManifestsRefs": [
              {
                "name": "foobar1"
              },
              {
                "name": "foobar2"
              }
            ],
            "ignitionConfigOverride": "igen",
            "installConfigOverrides": "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\", \"NodeTuning\" ] }}",
            "machineNetwork": [
              {
                "cidr": "203.0.113.0/24"
              }
            ],
            "networkType": "OVNKubernetes",
            "nodes": [
              {
                "bmcAddress": "idrac-virtualmedia+https://203.0.113.100/redfish/v1/Systems/System.Embedded.1",
                "bmcCredentialsName": {
                  "name": "name of bmcCredentials secret"
                },
                "bootMACAddress": "00:00:5E:00:53:00",
                "bootMode": "UEFI",
                "cpuset": "2-19,22-39",
                "hostName": "node1",
                "ignitionConfigOverride": "{\"ignition\": {\"version\": \"3.1.0\"}, \"storage\": {\"files\": [{\"path\": \"/etc/containers/registries.conf\", \"overwrite\": true, \"contents\": {\"source\": \"data:text/plain;base64,foobar==\"}}]}}",
                "installerArgs": "[\"--append-karg\", \"nameserver=8.8.8.8\", \"-n\"]",
                "ironicInspect": "",
                "nodeNetwork": {
                  "config": {
                    "dns-resolver": {
                      "config": {
                        "server": [
                          "198.51.100.1"
                        ]
                      }
                    },
                    "interfaces": [
                      {
                        "ipv4": {
                          "address": [
                            {
                              "ip": "192.0.2.1",
                              "prefix-length": 24
                            },
                            {
                              "ip": "192.0.2.2",
                              "prefix-length": 24
                            },
                            {
                              "ip": "192.0.2.3",
                              "prefix-length": 24
                            }
                          ],
                          "dhcp": false,
                          "enabled": true
                        },
                        "ipv6": {
                          "address": [
                            {
                              "ip": "2001:0DB8:0:0:0:0:0:1",
                              "prefix-length": 32
                            },
                            {
                              "ip": "2001:0DB8:0:0:0:0:0:2",
                              "prefix-length": 32
                            },
                            {
                              "ip": "2001:0DB8:0:0:0:0:0:3",
                              "prefix-length": 32
                            }
                          ],
                          "dhcp": false,
                          "enabled": true
                        },
                        "name": "eno1",
                        "type": "ethernet"
                      },
                      {
                        "ipv6": {
                          "address": [
                            {
                              "ip": "2001:0DB8:0:0:0:0:0:4"
                            }
                          ],
                          "enabled": true,
                          "link-aggregation": {
                            "mode": "balance-rr",
                            "options": {
                              "miimon": "140"
                            },
                            "slaves": [
                              "eth0",
                              "eth1"
                            ]
                          },
                          "prefix-length": 32
                        },
                        "name": "bond99",
                        "state": "up",
                        "type": "bond"
                      }
                    ],
                    "routes": {
                      "config": [
                        {
                          "destination": "0.0.0.0/0",
                          "next-hop-address": "203.0.113.255",
                          "next-hop-interface": "eno1",
                          "table-id": 254
                        }
                      ]
                    }
                  },
                  "interfaces": [
                    {
                      "macAddress": "00:00:5E:00:53:01",
                      "name": "eno1"
                    },
                    {
                      "macAddress": "00:00:5E:00:53:02",
                      "name": "eth0"
                    },
                    {
                      "macAddress": "00:00:5E:00:53:03",
                      "name": "eth1"
                    }
                  ]
                },
                "role": "master",
                "rootDeviceHints": {
                  "hctl": "1:2:0:0"
                },
                "templateRefs": [
                  {
                    "name": "aci-node-crs-v1",
                    "namespace": "siteconfig-operator"
                  }
                ]
              }
            ],
            "proxy": {
              "noProxys": "foobar"
            },
            "pullSecretRef": {
              "name": "pullSecretName"
            },
            "serviceNetwork": [
              {
                "cidr": "203.0.113.0/24"
              }
            ],
            "sshPublicKey": "ssh-rsa ",
            "templateRefs": [
              {
                "name": "aci-cluster-crs-v1",
                "namespace": "siteconfig-operator"
              }
            ]
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.33.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  name: siteconfig.v2.13.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: ClusterInstance is the Schema for the clusterinstances API
      displayName: Cluster Instance
      kind: ClusterInstance
      name: clusterinstances.siteconfig.open-cluster-management.io
      version: v1alpha1
  description: Manage SiteConfig
  displayName: siteconfig
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
        - apiGroups:
          - agent-install.openshift.io
          resources:
          - infraenvs
          - nmstateconfigs
          verbs:
          - create
          - delete
          - get
          - patch
          - update
        - apiGroups:
          - agent.open-cluster-management.io
          resources:
          - klusterletaddonconfigs
          verbs:
          - create
          - delete
          - get
          - patch
          - update
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclustersets/join
          verbs:
          - create
        - apiGroups:
          - extensions.hive.openshift.io
          resources:
          - agentclusterinstalls
          - imageclusterinstalls
          verbs:
          - create
          - delete
          - get
          - patch
          - update
        - apiGroups:
          - hive.openshift.io
          resources:
          - clusterdeployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - hive.openshift.io
          resources:
          - clusterdeployments/status
          verbs:
          - get
          - watch
        - apiGroups:
          - hive.openshift.io
          resources:
          - clusterimagesets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - metal3.io
          resources:
          - baremetalhosts
          - hostfirmwaresettings
          verbs:
          - create
          - delete
          - get
          - patch
          - update
        - apiGroups:
          - register.open-cluster-management.io
          resources:
          - managedclusters/accept
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - siteconfig.open-cluster-management.io
          resources:
          - clusterinstances
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - siteconfig.open-cluster-management.io
          resources:
          - clusterinstances/finalizers
          verbs:
          - update
        - apiGroups:
          - siteconfig.open-cluster-management.io
          resources:
          - clusterinstances/status
          verbs:
          - get
          - patch
          - update
        serviceAccountName: siteconfig-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: siteconfig
          app.kubernetes.io/name: siteconfig-controller
          control-plane: controller-manager
        name: siteconfig-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/component: siteconfig
              app.kubernetes.io/name: siteconfig-controller
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                openshift.io/scc: restricted
                target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
              labels:
                app.kubernetes.io/component: siteconfig
                app.kubernetes.io/name: siteconfig-controller
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.14.1
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /usr/local/bin/siteconfig-manager
                env:
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                image: quay.io/stolostron/siteconfig-operator:2.13.0
                imagePullPolicy: Always
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: "2"
                    ephemeral-storage: 10Gi
                    memory: 16Gi
                  requests:
                    cpu: 100m
                    ephemeral-storage: 1Gi
                    memory: 256Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
              serviceAccountName: siteconfig-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: siteconfig-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - SiteConfig
  - install
  - edge
  links:
  - name: SiteConfig Operator
    url: https://github.com/stolostron/siteconfig
  maintainers:
  - email: sakhoury@redhat.com
    name: Sharat Akhoury
  - email: ncarboni@redhat.com
    name: Nick Carboni
  maturity: alpha
  provider:
    name: Red Hat
  version: 2.13.0
